<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" > <!--<![endif]-->
<head lang="en">
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%  block title %}{% endblock %}Dos Etsys</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>    {#    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"  />
    {#	<script src="{% static 'js/ajax_get_index.js' %}"></script>#}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/colorpicker.css' %}" />
    <script type="text/javascript" src="{% static 'js/colorpicker.js' %}"></script>


{% block head %}{% endblock %}
</head>
<body>
{% block nav %}
<div class="container">
{#    <nav class="navbar navbar-default ">#}
{#        <a class="navbar-brand" href="/"> </a>#}
{#        <a class="navbar-brand" href="{% url "tinder" %}"> Similar Movies</a>#}
            {#<input type=search name=s id="searchBox"  >#}
{#<span class="navbar-form navbar-left" role="search">#}
{#            <div class="form-group">#}
{#                <input type=search class="form-control" placeholder="Search" id="searchBox" >#}
{#            </div>#}
{#            <button id="searchMovie" class="btn btn-default btn-lg">Search</button>#}
{#            <button id="showFavorites" class="btn btn-default btn-lg">Show Favorites</button>#}
{#        </span>#}
{#    </nav>#}


{% endblock %}
{% block content %}



{#    <button id="getOne">Get One!!!</button>#}

{#<div class="row">#}
{#</div>#}
{#        <div id="colorSelector" style="height: 40px;width: 40px;"></div>#}

<div id="colorSelector" class="row">
    <div style="background-color: #b5b5d7;border:1px solid #555352"><h1>Dos Etsy-s -- Click Me</h1></div>
</div>

<div class="row">
    <div id="displayItemsBox" class="col-md-12">

</div>
</div>

{#<div id="customWidget">#}
{#    <div id="colorSelector2"><div style="background-color: #00ff00"></div></div>#}
{#    <div id="colorpickerHolder2">ok#}
{#    </div>#}
{#</div>#}


    {% endblock %}
    <div id="favoriteBox">
        <hr>
        <h2>Favorites</h2>
{#        {% for fave in favorites %}#}
{#            {% include 'item_template.html' with item_info=fave %}#}
{#        {% endfor %}#}
    </div>


    <hr>


    {% block subnav %}

    {% endblock %}


    {% block footer %}
        <footer>


        </footer>
    {% endblock %}
</div>
</body>
</html>