<div class="row store_item" data-etsy_id="{{ item_info.etsy_id }}">
    <div class="col-md-3 item_image" style="background-color:#{{ item_info.etsy_color }}">
        <img src="{{ item_info.image_url }}" />
    </div>
    <div class="col-md-7">
        <div class="categoryPath-display">
        </div>
        <h2>{{ item_info.title }}</h2>
        <p>price: {{ item_info.price }}</p>
        <p class="description showhide">{{ item_info.description }}<br>
         {% if item_info.category_path %}
            {% for path in item_info.category_path %}{{ path }} ++ {% endfor %}
        {% endif %}
           {% if item_info.style %}
                <strong>Style: </strong>{% for style in item_info.style %}{{ style }}, {% endfor %}
            {% endif %}
            {% if item_info.tags %}
                <strong>Tags: </strong>{% for tag in item_info.tags %}{{ tag }}, {% endfor %}
            {% endif %}
{#            </div>#}
    </p>
    </div>

    <div class="col-md-2">
        <button id="moreInfo"><a href="{{ item_info.listing_url }}" target="_blank"> Original Listing</a> </button>

        </div>
    </div>


</div>